/* 
    *ALL MEDIA QUERYS HERE 
    *RESPONSIVE
*/

@media (max-width:480px) {

    /* PRODUCT COLLECTION */
    .product-collection {}

    .product-collection .collection-item {
        min-width: 100%;
    }

}

@media (max-width:570px) {

    /* FEATURES AND OFFERS*/
    .features,
    .offer {
        max-width: 500px;
        margin: auto;
    }

    /* PRODUCTY NEW COLLECTION */
    .product-new-collection {
        max-width: 500px;
        margin: auto;
    }

    /* BEST SELLERS */
    .product-best-sellers {
        max-width: 500px;
        margin: auto;
    }

    .product-best-sellers .product-best-sellers-list .best-sellers-item {
        min-width: 50%
    }

    /* PRODUCT COLLECTION */
    .product-collection {
        max-width: 500px;
        margin: auto;
    }

    .footer .container {
        max-width: 500px;
        margin: auto;
    }

}

@media (min-width:768px) and (max-width:990px) {

    /* FEATURES AND OFFERS*/
    .features,
    .offer {
        max-width: 700px;
        margin: auto;
    }

    /* PRODUCTY NEW COLLECTION */
    .product-new-collection {
        max-width: 700px;
        margin: auto;
    }

    /* BEST SELLERS */
    .product-best-sellers {
        max-width: 700px;
        margin: auto;
    }

    .product-best-sellers .product-best-sellers-list .best-sellers-item {
        min-width: 50%
    }

    /* PRODUCT COLLECTION */
    .product-collection {
        max-width: 700px;
        margin: auto;
    }

    .footer .container {
        max-width: 700px;
        margin: auto;
    }

    /* BLOG */

    .blog .container {
        max-width: 750px;
        margin: auto;
    }

    .blog .container .flex-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .blog .container .flex-list .flex-item {
        width: 45%;
    }

    .blog .container .flex-list .flex-item:nth-child(1) {
        margin-right: 20px;
    }

    /* FOOTER */
    footer .container .footer-top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-bottom .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}

@media (min-width:992px) {

    /* PRODUCT COLLECTION */
    .product-collection {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 30px !important;
        max-width: 920px;
        margin: auto
    }

    /* PRODUCT  NEW COLLECTION */
    .product-new-collection {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 30px !important;
        max-width: 920px;
        margin: auto
    }


    /* PRODUCT  NEW COLLECTION */
    .features {
        margin: auto;
    }

    .feature-list {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 30px !important;
        max-width: 920px;
        margin: auto
    }

    .product-best-sellers {
        margin: auto;
    }

    .product-best-sellers .product-best-sellers-list .best-sellers-item {
        min-width: 35%
    }

    .best-sellers-actions {
        top: 30px !important;
    }

    .best-sellers-actions .btn-action {
        padding: 10px !important;
    }


    /* NEW COLLECTION */
    /* PRODUCT COLLECTION */
    .product-collection {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 30px !important;
        max-width: 920px;
        margin: auto
    }

    /* BLOG */
    .blog .container .flex-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .blog .container .flex-list .flex-item {
        width: 45%;
    }

    .blog .container .flex-list .flex-item {
        margin-right: 20px;
    }

    .offer .container {
        display: grid;
        grid-template-columns: 1fr 0.7fr;
        align-items: center;
        gap: 30px;
    }

    /* FOOTER */
    footer .container .footer-top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-bottom .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}

@media (min-width:992px) {
    /* FOOTER */

    footer .container {
        margin: auto;
        max-width: 1050px;
    }

    footer .container .footer-top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-bottom .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .newsletter-form {
        max-width: fit-content;
    }


    /* PRODUCT COLLECTION */
    .product-collection {
        max-width: 1000px;
        margin: auto
    }

    /* PRODUCT  NEW COLLECTION */
    .product-new-collection {
        min-width: 920px;
        margin: auto
    }

    .product-best-sellers {
        max-width: 1000px;
        margin: auto
    }

    .product-new-collection {
        max-width: 1000px;
        margin: auto
    }

    .features {
        max-width: 1000px;
        margin: auto
    }

    .offer .container {
        max-width: 1000px;
        margin: auto
    }

    .flex-list {
        width: 100%;
    }

    .blog .container {
        max-width: 1000px;
        margin: auto
    }

}

@media (min-width:1200px) {

    /* FOOTER */
    footer .container {
        margin: auto;
        max-width: 1200px;
    }


    .newsletter-form {
        max-width: fit-content;
    }

    /* BLOG */
    .blog .container {
        max-width: 1200px;
    }

    /* OFFER */
    .offer .container {
        max-width: 1200px;
    }

    /* FEATURES */
    .features {
        max-width: 1200px;
    }


    /* product-new-collection */
    .product-collection {
        max-width: 1200px;
        margin-bottom:30px;
    }

    /* product-new-collection */
    .product-new-collection {
        max-width: 1200px;
        margin-bottom:30px;
    }

    /* product-new-collection */
    .product-best-sellers {
        max-width: 1200px;
    }

    /* header */
    .header-main .search-container-input,
    .header-user-actions {
        display: block !important;
    }

    .header-user-actions {
        display: block !important;
    }

    .header-main .nav-open-btn {
        display: none;
    }
    .search-container-input{

        position :relative;
    }
    .search-field{
        padding: 15px;
        border:var(border-radius-sm);
        font-size:var(--fs-8);
        
    }

    .search-icon{
        position:absolute;
        top:15px;
        right:20px;
        font-size:var(--fs-4);
        cursor:pointer;
        color:var(--black);
    }

    .header-user-actions .action-btn:-webkit-any(:nth-child(2),:nth-child(3)) {
        display:block !important;
      }

      .header-user-actions{
        display:flex !important;
        flex-direction:row;
        justify-content:space-between;
      }

      .action-btn {
            margin-right:30px;
            cursor:pointer;
      }  
      
      .action-btn:hover {
        color: var(--hoockers-green);
        font-weight:var(--fw-800);
    }  
      
      .action-btn .count{
        background-color: var(--black);
        color: var(--white);
        font-size: var(--fs-9);
        min-width: 18px;
        height: 18px;
        line-height: 1.4;
        border-radius: 20px;
        position: absolute;
        right: 45px;
      }

      .desktop-menu-top{
            display:block !important;
            margin:30px;
      }

        .desktop-menu-top .menu-top-list{
        display:flex ;
        flex-direction:row ;
        justify-content:center ;
        align-items:center;
        }

        .menu-top-list-item{
            padding-right:20px;
        }

        .desktop-menu-top .menu-top-list .list-item-url{
            font-size:var(--fs-8);
            color:var(--black);
            padding-left:20px;
            letter-spacing:5px;
        }

        .desktop-menu-top .menu-top-list li:hover .list-item-url{
            color: var(--white);
            background-color: var(--black);
            transition: 1s ease-in-out;
            padding:10px;
            font-size:var(--fs-5);
            transform: translateX(18px);
        }

        .mobile-menu-top-fixed.active{
            display:none;
        }


/* MENU FIXED DESKTOP */
.desktop-menu-top-fixed {
    display: block !important;
}
  
.desktop-menu-top-fixed{
    position:fixed;
    top:0;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background:var(--white);
    width:100%;
    padding:10px 20px;
    z-index:100;
    transition: 300ms ease;
    transform: translateX(-500px);
  }
  
  .desktop-menu-top-fixed{
    visibility: hidden;
  }
  
  .desktop-menu-top-fixed.active{
    visibility: visible;
    transform: translateX(0px);
  }

  .desktop-menu-top-fixed{
    height:70px;
    margin: auto;
  }

  .desktop-menu-top-fixed .menu-top-list{
    display:flex ;
    flex-direction:row ;
    justify-content:center ;
    align-items:center;
    padding: 10px;
    }

    .menu-top-list-item{
        padding-right:20px;
        color:var(--black);
    }

    .desktop-menu-top-fixed .menu-top-list .list-item-url{
        font-size:var(--fs-8);
        color:var(--black);
        padding-left:20px;
        letter-spacing:5px;
        font-weight:var(--fw-800);
    }

    .desktop-menu-top-fixed .menu-top-list li:hover .list-item-url{
        transition: 300ms ease-in-out;
        padding:10px;
        font-size:var(--fs-5);
        transform: translateX(18px);
        border-bottom:5px solid var(--hoockers-green);
    }


    /* BANNER */
    .banner-item-content{
        top:120px !important;
        left:160px !important;
        min-width:100% !important;
    }
    
    .banner-item-btn{
        top:320px !important;
        left:170px !important;
    }
    
    .banner-item .banner-item-title{
        font-weight: var(--fw-800) !important;
        color:var(--black) !important;
        font-size:var(--fs-1) !important;
        top:0px !important;
    }
}