/* STYLE 
    *Importer les styles
    *définir les styles
*/


/**
 * Import variables.css 
 */
@import url('./variables.css');

/**
 * Import reset.css 
 */
@import url('./reset.css');

/**
 * Import media queries css 
 */
 @import url('./responsive.css');

 
/**
 * Styles default 
 */

 html{
    font-family: 'Urbanist', sans-serif;
    font-size:10px;
 }

 li {
   list-style:none;
 }

 a{
   text-decoration:none;
   color:var(--black)
 }


 button{
    background:var(--white);
    border:none;
 }

 body {
  background: var(--white);
  color: var(--gray-web);
  line-height: 1.6;
  height: 300vh;
  position: relative;
  pointer-events: all;
}

body::-webkit-scrollbar { width: 15px; }

body::-webkit-scrollbar-track {
  background: var(--white);
  border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid var(--white);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }


.has-scrollbar { padding-bottom: 5px; }

.has-scrollbar::-webkit-scrollbar {
  width: 12px; /* for vertical scroll */
  height: 12px; /* for horizontal scroll */
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border: 3px solid var(--white);
  border-radius: 20px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb { background: hsl(0, 0%, 90%); }

.has-scrollbar::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 80%); }



 /**
 * HEADER 
 */

 /* HEADER TOP */
 .header-top{
    background: var(--pale-spring-bud);
    display:flex;
    justify-content:center;
    padding:15px;
 }

 .header-top .header-top-alerts{
    font-size: var(--fs-8);
    text-transform:uppercase;
    font-weight:var(--fw-700);
    text-align:center;
    color:var(--black);
 }

 .mobile-menu{
   background:var(--white);
   position:fixed;
   top: 0;
   left:0;
   min-width:340px;
   z-index:200;
   display:flex;
   flex-direction:column;
   align-items:flex-start;
   height:100%;
   padding:0px 30px;
   visibility:hidden;
   transform: translateX(-100%);
   transition: 0.25s var(--cubic-in);
  }

  .mobile-menu.active{
    visibility: visible;
    transform: translateX(0);
    /* transition: 0.4s var(--cubic-out); */
   }

   

 .mobile-menu .mobile-menu-title-container{
   display:flex;
   justify-content:space-between;
   align-items:center;
   width:100%;
   margin-bottom: 20px;
 }
 
 .mobile-menu .mobile-menu-title{
   text-transform:uppercase;
   font-size:var(--fs-1);
   font-weight:var(--fw-800);
   color:var(--black);
   letter-spacing:5px;
 }
 
 .mobile-menu-title-container ion-icon{
   font-weight:var(--fw-300);
   font-size:var(--fs-2);
   color:var(--black);
   cursor:pointer;
 }

 .mobile-menu-navigation .menu-top-list .menu-top-list-item{
    padding: 10px 0;
 }

 nav.mobile-menu-navigation{
  width:100%;
 }

 .mobile-menu-navigation .menu-top-list{
  display:flex;
  flex-direction:column;
  width:100%;
 }
 
 .mobile-menu-navigation .menu-top-list li {
  width:100%;
	/* box-shadow: 0px 2px 0px rgba(0,0,0,0.2); */
  transition: all 500ms ease-in-out;
  position:relative;
 }
 
 .mobile-menu-navigation .menu-top-list li a{
  text-align: left;
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
  position:relative;
 }

 .mobile-menu-navigation .menu-top-list li:hover{
  background:var(--black);
  margin-left:10px;
}

.mobile-menu-navigation .menu-top-list li:hover .list-item-url{
  font-size: var(--fs-3);
  color: var(--white);
  padding-left:20px;
  letter-spacing:5px;
  animation: moving 1s ease-in-out;
  }
  
  .mobile-menu-navigation .menu-top-list li:hover .list-item-url::after{
    color:var(--pale-spring-bud);
    margin-left:20px;
  }
  
  @keyframes moving {
    0%{
        transform: translateX(-50px);
    }
    70%{
        transform: translateX(50px);
    }
    80%{
      transform: translateX(-10px);
    }
    100%{
      transform: translateX(10px);
    }
  }
  
 .list-item-url{
    font-size: var(--fs-5);
    color: var(--black);
    letter-spacing:5px;
 } 
 


 @keyframes popup {

  0% {
    transform:translateX(-250px);
  }

  100% {

    visibility: visible;
    pointer-events: all;
    transform:translateX(50px);

  }

} 

@keyframes popupdown {
  
  0% {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

}

 .desktop-menu-top, .desktop-menu-top-fixed{
  display:none;
 }


/* HEADER MAIN */
.header-main .search-container-input, .hide{
  display:none;
}

.nav-open-btn {
  width: 26px;
  display: grid;
  gap: 6px;
  padding-block: 5px;
  background:var(--white);
  border:none;
  cursor:pointer;
}

.header-user-actions .action-btn:-webkit-any(:nth-child(2),:nth-child(3)) {
  display:none;
}

.nav-open-btn:hover{
  animation: updown 1s ease fowards;
}

@keyframes updown {
  
  0% {
    background: var(--white)
  }
  
  100% {
    background: var(--black)
  }


}

.nav-open-btn .line {
  height: 2px;
  background-color: var(--black);
}

.nav-open-btn .line-1 { width: 15px; }

.nav-open-btn .line-3 { width: 18px; }

.header-main{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  margin:20px;
}

.header-logo{
  color:var(--black);
  font-size:var(--fs-3);
  text-transform:uppercase;
}


.action-btn{
  color:var(--black);
  font-size:var(--fs-3);
  font-weight:var(--fw-300);
}



 /**
    * MAIN 
 */



/* BANNER */


  @keyframes animationall {
   0% {   transform: translateY(-100px); }
   100% { transform: translateY(0px);  }
 }


main{
  margin:10px 20px;
}

.banner{
  display:flex;
  flex-direction:row;
  overflow:auto hidden;
  scroll-snap-type: inline mandatory;
  height: 500px;
  margin-bottom: 20px;
  animation: animationall 1s ease-in-out;

}

.banner .banner-item{
  position:relative;
  min-width: 100%;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

.banner .banner-item img{
 object-fit: cover;
 object-position: right;
 width: 100%;
 height: 100%;
}

.banner-item-content{
  display:flex;
  flex-direction:column;
  position:absolute;
  top:150px;
  left:30px;
  background:var(--cultured-1);
  max-width:300px;
  padding:10px;
  z-index:50;
  opacity:0.6;
  transition: 1.5s ease;
  border-radius:var(--border-radius-md);
}

.banner-item-content .banner-item-title{
  font-size:var(--fs-3);
  color:var(--black);
  font-weight: var(--fw-700);
}

.banner-item-content .banner-item-text{
  font-size:var(--fs-7);
  color:var(--black);
  font-weight: var(--fw-300);
}

.banner-item-text{
  font-size:var(--fs-7);
  color:var(--cultured-1);
  font-weight: var(--fw-300);
}

.banner-item-subtext{
  font-size:var(--fs-5);
  color:var(--black);
  font-weight: var(--fw-700);
  margin-top: 20px;
}

.banner-item-btn{
  position: absolute;
  top:400px;
  left:30px;
  font-size:var(--fs-8);
  background:var(--black);
  padding:10px;
  margin-right:auto; 
  color:var(--white);
  border-radius:var(--border-radius-xm);
  margin-top: 20px;
  cursor:pointer;
}

/* MENU FIXED MOBILE */
.mobile-menu-top-fixed{
  position:fixed;
  top:0;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  background:var(--white);
  width:100%;
  padding:10px 20px;
  z-index:100;
  transition: 300ms ease;
  transform: translateX(-500px);
}

.mobile-menu-top-fixed .search-container-input{
  display: none;
}

.mobile-menu-top-fixed{
  visibility: hidden;
}


.mobile-menu-top-fixed.active{
  visibility: visible;
  transform: translateX(0px);
}

/* OVERLAY */

.overlay.active{
  background: var(--black) ;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.grow-in{
 transform: scale(1.5);
 background: black !important;
 opacity: 0.9;
 z-index: 100;
}

.hovered-link{
  color: white !important;
  transition: 0.5s ease-out;
  z-index: 1001 !important;
}

/* SOURIS */
.souris{
  width: 60px;
  height: 60px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50% , -50%);
  pointer-events: none;
  /* z-index: 200; */
  backdrop-filter: brightness(250%);
}

.header-top:hover{
  font-size: 52px !important;
}

/* PRODUIT COLLECTION */
.product-collection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: animationall 1s ease-in-out;
}

.product-collection .collection-item{
  transform: scale(1);
  overflow: hidden;
  /* width: 100%; */
  margin: 10px 0;
}

.product-collection .collection-item img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  overflow: hidden;
}

.product-collection .collection-img:hover{
  transform: scale(1.15);
  transition: 700ms ease-in-out;
}


.product-collection .collection-item .collection-item::before {
  top: 0;
  left: -140%;
  bottom: 0;
  width: 100%;
  height:2000px;
  background-image: black;
  transform: skewX(-25deg);
  transition: 6s;
  z-index: 1000;
}

.product-collection .collection-item .collection-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  top: 0;
  left: 0;
  padding: 20px 20px;
  height: 100%;
}

.product-collection .collection-item .collection-content .collection-title{
  color: var(--black);
  font-size: var(--fs-2);
  font-weight: var(--fw-800);
  text-transform: capitalize;
}

.product-collection .collection-item .collection-content .collection-start{
  color: var(--black);
  font-size: var(--fs-5);
  font-weight: var(--fw-300);
  text-transform: capitalize;
}

.product-collection .collection-item .collection-content .collection-btn{
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  color: var(--black);
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  text-transform: capitalize;
  cursor: pointer;
}

.collection-btn ion-icon{
  font-size: var(--fs-3);
  transform: translateX(0);
  transition: 2s ease;
}

.product-collection .collection-item .collection-btn:hover ion-icon{
  transform: translateX(200px);
  transition: 2s ease;
  font-size: var(--fs-1);
}

.product-collection .collection-item .collection-btn:hover p{
  transform: rotate(1turn);
  transition: 2s ease;
  color: var(--black);
  font-weight: var(--fw-800);
  /* background: var(--black); */
  border: 2px solid var(--black);
  box-shadow: 5px 10px #888888;
  padding: 10px;
}

@keyframes shine {
  0% { transform: skewX(-25deg) translateX(0); }
  100% { transform: skewX(-25deg) translateX(250%); }
}


/* PRODUCTS BEST SELLERS */

.product-best-sellers{
  display:flex;
  flex-direction:column;
  overflow:auto hidden;
}


.product-best-sellers-list{
  display:flex;
  flex-direction:row;
  overflow:auto hidden;
  margin:30px 0;
}

.best-sellers-text{
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  color:var(--black);
}

.best-sellers-btn{
  display:inline-flex;
  align-items:center;
  text-transform:capitalize
}

.heading{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  font-size: var(--fs-5);

}

.best-sellers-item{
  position:relative;
  min-width:100%;
  display:flex;
  flex-direction:column;
  z-index:50;
  overflow: hidden;
  margin-right:20px;
  
}

.best-sellers-img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:center;
  z-index: 100;
  overflow: hidden;
}

.best-sellers-badge{
  position:absolute;
  background: var(--hoockers-green);
  padding: 10px 20px;
  color: var(--white);
  left: 30px;
  top: 60px;
  font-size: var(--fs-5);
  border-radius: var(--border-radius-xm);
  z-index:300;
  cursor:pointer;
}

.best-sellers-actions{
  position:absolute;
  display: flex;
  flex-direction: column;
  padding: 8px;
  right: 30px;
  top: 130px;
  border-radius: var(--border-radius-xm);
  justify-content:space-between;
  border-radius: var(--border-radius-xm);
  transform: translateX(150px);
  color:var(--white);
  font-size:var(--fs-2);
  z-index: 300;
}

.best-sellers-actions .btn-action{
 background : var(--white);
 color:var(--black);
 padding:20px; 
 margin: 10px;
 font-size:var(--fs-6);
 cursor:pointer;
 z-index: 300;
}

.best-sellers-item:hover .best-sellers-actions {
  color:var(--white);
  font-size:var(--fs-2);
  transform: translateX(0);
  transition: 1s ease-in-out;
}

.best-sellers-item:hover .btn-action {
  background: var(--white);
  color:var(--black);
  font-size:var(--fs-5);
  transform: translateX(0);
  transition: 1s ease-in-out;
}

.best-sellers-item:hover .btn-action:hover {
  background: var(--black);
  color:var(--pale-spring-bud);
  font-size: var(--fs-3);
  transform: scale(1);
  transition: 200ms ease-in-out;
}

.best-sellers-content{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  padding:20px 0;
  overflow: hidden;

}

.best-sellers-content .price{
  display:flex;
  justify-content:space-between;
  font-size: var(--fs-5);
}

.best-sellers-content .price  .new-price{
  padding-left:10px;
}

.best-sellers-content .best-sellers-title{
  font-size: var(--fs-7);
  color:var(--black);
}


.rating {
  display: flex;
  align-items: center;
  color: var(--black);
  font-size: var(--fs-5);
  padding: 4px 0;
}

.count{
  font-size: var(--fs-7);
  color: var(--black);
}


/* NEW COLLECTIONS */

.product-new-collection{
  display: flex;
  flex-direction: column;
}

.product-new-collection .collection-item{
  transform: scale(1);
  overflow: hidden;
  width: 100%;
  margin: 10px 0;
  position:relative;
  min-width:100%;
  overflow:hidden;
}

.product-new-collection .collection-item .collection-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.product-new-collection .collection-item .collection-img:hover{
  transform: scale(1.15);
  transition: 700ms ease-in-out;
}


.product-new-collection .collection-item::before {
  top: 0;
  left: -140%;
  bottom: 0;
  width: 100%;
  height:200px;
  background-image: black;
  transform: skewX(-25deg);
  transition: 6s;
  z-index: "01";
}

.product-new-collection .collection-item .collection-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100%;
  padding:15px;
}

.product-new-collection .collection-item .collection-content .collection-title{
  color: var(--black);
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  text-transform: capitalize;
}

.product-new-collection .collection-item .collection-content .collection-start{
  color: var(--black);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  text-transform: uppercase;
}


.product-new-collection .collection-item .collection-content .collection-btn{
  color: var(--black);
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  text-transform: capitalize;
  cursor: pointer;
  background:var(--white);
  margin-right:auto;
  padding:10px;
  margin-top:20px;
}

.product-new-collection .collection-item .collection-content .collection-btn:hover{
  color: var(--white);
  background:var(--black);
}

.product-new-collection .collection-item .collection-img:hover{
  transform: scale(1.15);
  transition: 700ms ease-in-out;
}


/* FEATURES */
.feature-list{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.features .row-title{
  color: var(--black);
  font-size: var(--fs-2);
  font-weight: var(--fw-600);
  text-align:center;
}

.features .feature-row{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:20px;
}

.row-text{
  color: var(--black);
  font-size: var(--fs-4);
  font-weight: var(--fw-700);
  margin:10px 0;
  text-align: center;

}

.row-sub-text{
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  text-align: center;
}

/* OFFERS */

/*-----------------------------------*\
  #OFFER
\*-----------------------------------*/

.offer-content{
  margin-bottom:30px;

}
.offer-banner {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  align-items: center;
  gap: 30px;
  margin-block-end: 60px;
}

.offer-subtitle {
  font-size: var(--fs-7);
  display: flex;
  align-items: center;
  gap: 10px;
}

.offer-subtitle .span {
  color: var(--black);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  letter-spacing: 2px;
}

.offer .badge { font-weight: var(--fw-500); }

.offer .section-title { margin-block: 20px 8px; }

.offer .section-text { font-size: var(--fs-6); }

.offer .countdown {
  color: var(--hoockers-green);
  font-size: var(--fs-2);
  line-height: 1;
  display: flex;
  margin-block: 20px 40px;
}

.offer .time:not(:last-child)::after {
  content: ":";
  color: var(--gray-web);
  font-size: 3rem;
  font-weight: var(--fw-500);
  margin-inline: 10px;
}

.offer .time {
  display: flex;
  align-items: center;
}

.w-100{
  width: 100%;
  height:auto;
}

.btn-offer{
  background:var(--black);
  color:var(--white);
  padding:10px;
  font-size:var(--fs-6);
}

/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog { padding-block-end: calc(var(--section-padding) * 2); }

.blog-card{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
}
.blog .section-title {
  font-size:var(--fs-2);
  color:var(--black);
  text-align:center;
}

.card-banner{
  overflow:hidden;
}

.card-banner img{
  height: 300px;
  width: 100%;
  object-fit:contain;
  object-position:center;
}

.blog-card .card-banner img { transition: var(--transition-2); }

.blog-card:is(:hover, :focus-within) .card-banner img { transform: scale(1.2); }

.blog-card .card-title {
  text-align: center;
  transition: var(--transition-1);
  font-size: var(--fs-4);
  margin-bottom:20px;
}

.blog-card .card-title:is(:hover, :focus) { color: var(--hoockers-green); }

.blog-card .btn-link { display:flex; align-items:center; margin-bottom:20px;  font-size: var(--fs-6);

}



/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer .logo { display: none; }

.footer {
  background-color: var(--cultured-1);
  padding-block: 70px;
}

footer .container{
  padding:20px;
}

.footer-top {
  display: grid;
  gap: 40px;
  margin-block-end: 60px;
}

.footer-list-title {
  color: var(--black);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  margin-block-end: 10px;
}

.footer-list-text { font-size: var(--fs-8); }

.footer-list-text .link {
  display: inline-block;
  color: var(--black);
  font-weight: var(--fw-600);
  text-decoration: underline;
  transition: var(--transition-1);
}

.footer-list-text .link:is(:hover, :focus) { color: var(--hoockers-green); }

.footer-list-text.bold {
  color: var(--black);
  font-weight: var(--fw-800);
  margin-block: 15px 2px;
}

.footer-link {
  font-size: var(--fs-7);
  padding-block: 5px;
}

.footer-link:is(:hover, :focus) { text-decoration: underline; }

.newsletter-title {
  color: var(--black);
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  line-height: 1.3;
}

.newsletter-text {
  font-size: var(--fs-7);
  line-height: 2;
  margin-block: 10px 35px;
}

.newsletter-form { position: relative; }

.email-field {
  background-color: var(--white);
  font-size: var(--fs-7);
  padding: 12px 18px;
  padding-inline-end: 145px;
  border: 1px solid var(--hoockers-green_20);
  border-radius: var(--radius-3);
  outline: none;
  transition: var(--transition-1);
}

.email-field::placeholder { color: var(--spanish-gray); }

.email-field:focus { border-color: var(--black); }

.newsletter-form .btn-newsletter {
  background:var(--black);
  color:var(--white);
  padding: 12px 18px;
  margin:10px 0px;
  border: var(--border-radius-sm);
 }

.copyright { font-size: var(--fs-7); }

.footer-bottom .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.social-list {
  display: flex;
  gap: 20px;
}

.social-link {
  color: var(--black);
  font-size: 18px;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus) { color: var(--hoockers-green); }

.footer-bottom > img { max-width: max-content; }





/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: var(--white);
  color: var(--hoockers-green);
  font-size: 22px;
  padding: 13px;
  border-radius: 50%;
  box-shadow: var(--shadow-1);
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
}

.back-top-btn:is(:hover, :focus) {
  background-color: var(--hoockers-green);
  color: var(--white);
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}
